    body {
        background-image: url("../img/gradient_bg.png");
        background-repeat: repeat-x;
    }

    img {
        float: left;
    }

    .image{
        border: 20px solid transparent;

        border-image-source:
                url("../img/ponyborder.png");
        border-image-repeat: round;
        border-image-slice: 27;
        text-align:center;
        /*border: 20px solid;
        border-image: url("../img/ponyborder.png") 27 round;*/
    }
    .rght {
        text-align: right;
    }

    .both {
        clear: both;
    }
    .inline{
        display: inline-block;
    }
    img{
        margin: 10px auto 20px; display: block;
    }
