    body {
        background-image: url("../img/gradient_bg.png");
        background-repeat: repeat-x;
    }

    img {
        float: left;
    }

    .image{
        border: 20px solid transparent;

        border-image-source:
                url("../img/ponyborder.png");
        border-image-repeat: round;
        border-image-slice: 27;
        text-align:center;
        /*border: 20px solid;
        border-image: url("../img/ponyborder.png") 27 round;*/
        -webkit-transition: opacity 4s ease-in-out;
         transition: opacity 4s ease-in-out;
    }
    .image:hover{
    opacity:0;
    }

    .rght {
        text-align: right;
    }

    .both {
        clear: both;
    }
    .inline{
        display: inline-block;
    }
    img{
        margin: 10px auto 20px; display: block;
    }

    #wyczysc{
    position: absolute;
    animation-name: ui;
     animation-duration: 6s;
    animation-iteration-count: 10;
    }
    @keyframes ui {
        0%, 50%, 100% { /* OR from, 50%, to */
            left: 50px;
        }
        25%, 75% {
            left: 400px;
        }
    }


    #forward{
     background-color: white;
     animation-name: k;
     animation-duration: 3s;
     animation-iteration-count: infinite;
    }
    @keyframes k{
      from {background-color: white;}
      to {background-color: yellow;}
    }




    #home_page{
    position: relative;
    animation: movingImage linear 10s 2 1s alternate;
    animation-iteration-count: infinite;
    }
    @keyframes movingImage
    {
    0% {opacity: 0; left: 50px; top: 0px;}
    25% {opacity: 1; left: 0px; top: 50px;}
    50% {opacity: 0; left: 50px; top: 100px;}
    75% {opacity: 1; left: 100px; top: 50px;}
    100% {opacity: 0; left: 50px; top: 0px;}
    }


     .flexbox {
                width: 600px;
                height: 420px;
                display: -webkit-box;
                display: -ms-flexbox;
                -webkit-box-orient: horizontal;
                box-orient: horizontal;
            }

            .flexbox > div {
                -webkit-transition: 1s ease-out;
                transition: 1s ease-out;
                -webkit-border-radius: 10px;
                border-radius: 10px;
                border: 2px solid black;
                width: 120px;
                margin: 10px -10px 10px 0px;
                padding: 20px 20px 20px 20px;
                box-shadow: 10px 10px 10px dimgrey;
            }

            .flexbox > div:nth-child(1) {
                background-color: white;
            }

            .flexbox > div:nth-child(2) {
                background-color: green;
            }

            .flexbox > div:nth-child(3) {
                background-color: blue;
            }

            .flexbox > div:nth-child(4) {
                background-color: red;
            }

            .flexbox > div:hover {
                width: 200px;
                color: white;
                font-weight: bold;
            }

            .flexbox > div:nth-child(1):hover {
                background-color: royalblue;
            }

            .flexbox > div:nth-child(2):hover {
                background-color: crimson;
            }

            .flexbox > div:nth-child(3):hover {
                background-color: crimson;
            }

            .flexbox > div:nth-child(4):hover {
                background-color: darkgreen;
            }

            p {
                height: 250px;
                overflow: hidden;
                font-family: Monospace, "Times New Roman", Times;
            }

