        a{
            font-style:italic;
        }
        body {
            background-color: lightblue;
        }

        img{
        position: absolute;
         left: 0;
         -webkit-transition: opacity 4s ease-in-out;
         transition: opacity 4s ease-in-out;
        }
        img:hover{
        opacity:0;
        }
