#nav{
    position: relative;
    width: 700px;
    margin: 50px auto;
}

ul{
    margin: 0 auto;
    position: relative;
    float: left;
}
ul li{
    display: inline;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}
ul li a{
    border-right: 1px solid #fff;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background: green;
}
ul li:hover>a{
    background: rgba(109,255,102,0.82);
    color: #fff;
    opacity: 0.9;
}

ul li:hover>ul{
    visibility: visible;
}

ul ul,ul ul li ul{
    list-style: none;
    margin: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;
    width: 180px;
}
ul ul{
    top: 39px;
    left: 0;
}
ul ul li ul{
    top: 0;
    left: 181px;
}
ul ul li a{
    background: green;
    padding: 7px 15px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    float: left;
    width: 150px;
    border-bottom: 1px dotted #fff;
}
ul ul ul li a{
    background: green;
}

body {
  background: #ffffff url("img/img_tree.png") no-repeat right top;
  margin-right: 200px;
}